# Interface e API
streamlit>=1.30.0
fastapi
uvicorn
python-multipart
watchdog

# Processamento de Dados
pandas
numpy
psutil
termcolor
click

# IA e Vetores (Core)
ollama
qdrant-client
sentence-transformers
transformers
accelerate
scipy

# Análise e Gráficos
matplotlib
seaborn
networkx
wordcloud
pysentimiento

# Nota: PyTorch deve ser instalado manualmente dependendo do hardware (CUDA vs ROCm)
torch
